html {
  scroll-behavior: smooth;
}

@keyframes translate-up-anim {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-45px);
  }
}

@keyframes translate-down-anim {
  0% {
    transform: translateY(-45px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc((-480px * 3) - 22px));
  }
}

@keyframes logo-animation {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.5;
    transform: scale(1.35);
  }
}

@keyframes logo-animation-not {
  from {
    opacity: 0.5;
    transform: scale(1.35);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes btn-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes choice-anim-to-right {
  from {
    transform: translateX(0);
    width: 145.51px;
  }
  to {
    transform: translateX(155px);
    width: 109.56px;
  }
}

@keyframes choice-anim-to-left {
  from {
    transform: translateX(155px);
    width: 109.56px;
  }
  to {
    transform: translateX(0);
    width: 145.51px;
  }
}

@keyframes black-to-orange {
  from {
    color: #121217;
  }
  to {
    color: #ea3d25;
  }
}

@keyframes orange-to-black {
  from {
    color: #ea3d25;
  }
  to {
    color: #121217;
  }
}

.btn-anim:hover {
  animation-name: btn-animation;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

.translate-up {
  height: 40px;
  overflow: hidden;
}

.translate-up:hover #title-1 {
  animation-name: translate-up-anim;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.translate-up:not(:hover) #title-1 {
  animation-name: translate-down-anim;
  animation-duration: 0.35s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

.translate-up:hover #title-2 {
  animation-name: translate-up-anim;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.translate-up:not(:hover) #title-2 {
  animation-name: translate-down-anim;
  animation-duration: 0.35s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.slider-track {
  width: calc(480px * 6);
  animation: scroll 50s linear infinite;
}

.head-fixed {
  position: fixed;
  top: 0;
  width: calc(100% - 24px);
  background-color: #121217;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
}

.logo-hover:hover {
  animation-name: logo-animation;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.logo-hover:not(:hover) {
  animation-name: logo-animation-not;
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
}

.back-gray {
  background-color: rgba(115, 117, 128, 0.1);
}

.orange-to-black-anim {
  animation-name: orange-to-black;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.black-to-orange-anim {
  animation-name: black-to-orange;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

#choice {
  position: absolute;
  background-color: #121217;
  height: 35.59px;
  border-radius: 36px;
  top: 5px;
  left: 6px;
}

.choice-to-right {
  animation-name: choice-anim-to-right;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.choice-to-left {
  animation-name: choice-anim-to-left;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
